/* Dungeon Modal Styles */
#dungeonevent-modal .modal-content {
    background-image: url('/graphics/default/assets/modal/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 108vh;
    position: relative;
    margin: auto;
    padding: 0;
    border: none;
    box-sizing: border-box;
    overflow: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dungeonevent-modal #dungeonevent-dropdown,
#dungeonevent-modal #dungeonevent-name,
#dungeonevent-modal #dungeonevent-modifier {
    width: 100%;
    max-width: 300px;
    padding-top: 40px;
    margin: 5px 0;
    line-height: 1;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    font-family: 'DwarvenAxe', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #000000;
    background-color: transparent;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

#dungeonevent-modal #dungeonevent-dropdown {
    appearance: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center;
}

#dungeonevent-modal #dungeonevent-dropdown option {
    font-size: 30px;
    font-family: 'DwarvenAxe', sans-serif;
    background-color: transparent;
    color: #333;
}

#dungeonevent-modal #dungeonevent-dropdown::placeholder,
#dungeonevent-modal #dungeonevent-name::placeholder,
#dungeonevent-modal #dungeonevent-modifier::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

#dungeonevent-modal #dungeonevent-dropdown:focus,
#dungeonevent-modal #dungeonevent-name:focus,
#dungeonevent-modal #dungeonevent-modifier:focus {
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8);
}

/* Faction Buttons Styles */
#faction-buttons-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    max-height: calc(100vh - 40px); /* Adjust based on your needs */
    align-content: flex-start;
}

#faction-buttons-wrapper .faction-button {
    width: 140px; 
    height: 140px; 
    margin: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

#faction-buttons-wrapper .faction-button:hover {
    transform: scale(1.15);
}

#faction-buttons-wrapper .faction-button.selected {
    filter: drop-shadow(0 0 10px var(--glow-color, #ffff00)) 
            drop-shadow(0 0 20px var(--glow-color, #ffff00)) 
            drop-shadow(0 0 30px var(--glow-color, #ffff00))
            drop-shadow(0 0 40px var(--glow-color, #ffff00));
}

#faction-buttons-wrapper .faction-button.inactive:not(.selected) {
    filter: grayscale(100%);
}

/* Bounty List Styles */
#bounty-list {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 500px;
    height: calc(100% - 40px);
    background-image: url('/graphics/default/assets/modal/bounty.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: auto;
    padding: 20px;
    padding-top: 15%;
    box-sizing: border-box;
    font-family: 'DwarvenAxe', sans-serif;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.bounty-item {
    margin-bottom: -5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.bounty-item:hover {
    transform: scale(1.03);
}

.bounty-item.selected {
    text-decoration: line-through;
}

/* Button Styles */
#proceed-button {
    position: absolute;
    bottom: 55px;
    left: 60%;
    width: 150px;
    height: 150px;
    content: url('/graphics/default/assets/button/compass.png');
    transition: transform 0.3s ease;
}

#proceed-button:hover {
    transform: scale(1.1);  /* Grow to 110% of original size on hover */
}