/* Dungeon styles */
:root {
  --character-base-height: 740px; /* Adjustable base height */
}

.dungeon-view {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
}

.dungeon-characters-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: none;
}

.character-wrapper {
  position: absolute;
  bottom: 0;
  height: var(--character-base-height);
  width: calc(var(--character-base-height) * 832 / 1024); /* Maintain aspect ratio */
  transition: all 0.3s ease;
  cursor: pointer;
  transform-origin: bottom center;
}

.dungeon-character {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.stress-meter {
  position: absolute;
  top: -25%; /* Adjust this value to move the stress meter up or down */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Adjust the size as needed */
  height: auto;
  z-index: 0; /* Ensure it's behind the character image */
}

#dungeon-canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}