/* Font Declarations */
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/UbuntuRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DwarvenAxe';
    src: url('/fonts/DwarvenAxe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
    background-image: url('/background/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f0f0f0;
    font-family: 'Ubuntu', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Main Container Layout */
.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.left-panel {
    flex: 0 0 35%;
    padding: 35px;
    overflow-y: auto;
    box-sizing: border-box;
}

.middle-panel {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.right-panel {
    flex: 0 0 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

/* Character Grid Styles */
.gallery {
    flex: 1;
    padding: 40px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px); /* Match the width of character-item */
    gap: 0px;
    margin-top: 0px;
    justify-content: center;
}

.grid-wrapper {
    max-width: 100%;
    overflow-x: hidden;
}

.character-item {
    position: relative;
    cursor: pointer;
    width: 160px; /* Set a fixed width */
    height: 192px; /* Set a fixed height - adjust based on your frame image */
    margin: 0 auto; /* Center the item in its grid cell */
    transition: transform 0.3s ease;
}

.character-item img.portrait {
    position: absolute;
    top: 25%;
    left: 28%;
    width: 45%;
    height: 55%;
    object-fit: cover;
    z-index: 1;
}

.character-item img.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.character-item:hover {
    transform: scale(1.05); /* Slight increase in size on hover */
}

.character-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Character Info Styles */
.character-portrait {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.character-info h1,
.character-info h2 {
    font-family: 'DwarvenAxe', 'Ubuntu', Arial, sans-serif;
    font-weight: normal;
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Form and Input Styles */
#search, #savefile-name, #event-type-select {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #888;
}

button {
    padding: 10px 20px;
    background-color: rgba(0, 123, 255, 0.7);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: rgba(0, 86, 179, 0.7);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    background-color: #fefefe;
    border-radius: 5px;
}

#recruit-modal .modal-content {
    background-image: url('/background/recruit.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90vw;
    height: 90vh;
    max-width: 600px; /* Adjusted for narrower content */
    max-height: 900px;
    position: relative;
    margin: auto;
    padding: 20px;
    padding-top: 0px;
    border: none;
    box-sizing: border-box;
    overflow: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recruit-modal h2 {
    color: #000000;
    margin-top: -20;
    margin-bottom: 20px;
    font-family: 'DwarvenAxe', 'Ubuntu', Arial, sans-serif;
    font-size: 64px; 
    text-align: center;
}

#recruit-modal #character-dropdown,
#recruit-modal #character-name,
#recruit-modal #modifier {
    width: 100%;
    max-width: 300px;
    padding: 0 0 -2px 0;
    margin: 5px 0;
    line-height: 1;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    font-family: 'DwarvenAxe';
    font-size: 32px;
    text-align: center;
    color: #000000;
    background-color: transparent;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

#recruit-modal #character-dropdown {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: right center; /* Adjust arrow position */
    padding-right: 30px; /* Make room for the arrow */
}

#recruit-modal #character-dropdown::placeholder,
#recruit-modal #character-name::placeholder,
#recruit-modal #modifier::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

#recruit-modal #character-dropdown:focus,
#recruit-modal #character-name:focus,
#recruit-modal #modifier:focus {
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8); /* Add a subtle shadow on focus */
}

#recruit-modal #character-icon {
    width: 100%;
    max-width: 512px; /* or any other max-width you prefer */
    aspect-ratio: 1 / 1; /* This maintains a square shape */
    margin: 20px 0;
    overflow: hidden;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recruit-modal #character-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* This ensures the entire image is visible */
    object-position: center; /* This centers the image within its container */
}

#recruit-modal #begin-recruit {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 123, 255, 0.7);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#recruit-modal #begin-recruit:hover {
    background-color: rgba(0, 86, 179, 0.7);
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

/* Modifier Styles */
.modifier-input {
    margin-top: 10px;
}

/* Modal Open State */
body.modal-open .character-item {
    pointer-events: none;
}

body.modal-open .character-item:hover {
    transform: none;
}